.header {
  display: flex;
  background-color: rgb(12, 165, 112);
  justify-content: space-between;
  border: 1px solid black;
}

.searchBox{
  display: flex;
  margin: 10px;
 
}

.logo {
  display: flex;
  width: 100px;
  
}

.nav-items > ul {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  color: rgb(21, 21, 24);
}

.nav-items > ul > li {
  padding: 10px;
}

/* card styling*/
.card-item {
  width: 300px;
  padding: 10px;
  margin: 20px;
  border: 2px solid gray;
}
.card-item_s {
  width: 300px;
  height: 400px;
  padding: 10px;
  margin: 20px;
  border: 2px solid gray;
  background-color: rgb(233, 222, 222);
}
.card-item > img {
  width: 100%;
}

.restaurant-list{
  display: flex;
  flex-flow: row wrap;
  
}

.Resto_img{
  width: 400px;
  height: 400px;
}

#Form {
  margin: 1 rem;
  border: 2px solid #000;
  width: 25%;
  padding: 2rem;
}

#Form > label {
  margin: 10px;
  display: block;
}